*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    height: 10dvh;
   display: flex;
   background-color: blue;
   width: 100%;
}
.main{
    background-color:rgb(255, 255, 255);
    color: rgb(12, 0, 0);
    min-height: calc(100vh - 10vh - 10vh);
}

.footer{

    background-color: blue;
    color: white;
    text-align: center;
    padding: 0.1vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    width: 100%;
}

